@import "tailwindcss";

@plugin "daisyui";

.login-img-background {
    background-image: url("/122871.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}


.divpass:has(.inputpass:focus) {
    border: 1px solid #8A2BE2;
}
